# "best of" packages


Django
Pillow
jsonfield
django-retracer
South
Sphinx
boto
django-bitfield
celery
django-haystack
django-compressor
django-fsm
django-retracer
django-sekizai
django-tastypie
    
django-bootstrap-form
django-admin-bootstrapped

# one or the other
psycopg2
mysqldb

python-social-auth
requests
django-sekizai
sphinxcontrib-fancybox
https://github.com/ajmirsky/couchdb-python/tarball/master#egg=couchdb-0.9.1beta
cython
lxml
beautifulsoup4
beautifulsoup

# optional for realtime applications
# https://github.com/surfly/gevent/tarball/1.0rc3#egg=gevent-1.0dev
# uwsgi

# optional for deployment
# uwsgi
    
# note: lxml should be compiled with static dependencies
# >> export STATIC_DEPS='TRUE'
# >> pip install lxml

# note: pycrypto (and a few other packages break on OSX as of XCode5.1)
# >> export ARCHFLAGS='-Wno-error=unused-command-line-argument-hard-error-in-future'
