    'Django',
    'Pillow',
    'jsonfield',
    'django-retracer',
    'South',
    'Sphinx',
    'boto',
    'django-bitfield',
    'celery',
    'django-haystack',
    'django-compressor',
    'django-fsm',
    'django-retracer',
    'django-sekizai',
    'django-tastypie',
    
    'django-bootstrap-form',
    'django-admin-bootstrapped',

    # moved below
    #'psycopg2',
    #'mysqldb',

    'python-social-auth',
    'requests',
    'django-sekizai',
    'sphinxcontrib-fancybox',
    #'couchdb >= 0.9.1beta',
    'cython',

    'lxml',
    'beautifulsoup4',
    'beautifulsoup',
    
    # moved below
    #'gevent >= 1.0dev',
    #'uwsgi',
    
    
    # dependency links deprecated in pip 1.5 and removed in pip 1.6
# links = [
#    'https://github.com/ajmirsky/couchdb-python/tarball/master#egg=couchdb-0.9.1beta',
#    'https://github.com/surfly/gevent/tarball/1.0rc3#egg=gevent-1.0dev',
# ]

links = []

# force lxml to download and compile libxml and libxslt
# ( primarily for Mac OS X)
os.environ['STATICBUILD'] = 'TRUE'
os.environ['STATIC_DEPS'] = 'TRUE'
os.environ['ARCHFLAGS'] = '-Wno-error=unused-command-line-argument-hard-error-in-future'