{% extends "base.html" %}

{% load sekizai_tags mirskutils bootstrap  %}

{% block page_header %}
	<h1>set new password</h1>
{% endblock page_header %}

{% block page_content %}
  {% addtoblock 'css' %}
    {% css 'people/registration.css' %}
  {% endaddtoblock %}
	<div class="row password-setnew">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<h2>your new password has been set</h2>
			<p>please login with your email and new password</p>
			<p>
				<form method="POST" action="{% url 'login' %}">
					{% csrf_token %}
					{{ loginform|bootstrap }}
					<button type="submit" name="submit" class="btn btn-green">login<span class="glyphicon glyphicon-chevron-right"></span></button>
				</form>
			</p>
		</div>
		<div class="col-xs-4"></div>
	</div>
{% endblock page_content %}