{% load mirskutils mirskutils_img sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    {% addtoblock 'css' %}
      {% css 'lib/bootstrap3/css/bootstrap.css' %}
    {% endaddtoblock %}
    
    {% render_block 'css' postprocessor 'mirskutils.sekizai.compress' %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}lib/bootstrap/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}lib/bootstrap/respond.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie8.css" />
    <![endif]-->
    
    {% addtoblock 'js' %}
      {% js 'lib/jquery/jquery.js' %}
      {% js 'lib/jquery/plugins/jquery.cookie.js' %}
      {% js 'lib/bootstrap3/js/bootstrap.min.js'%}
      {% js 'lib/jquery/plugins/jquery.placeholder.js' %}
      {% js 'js/csrf.js' %}
      <script>$(function() { $('input, textarea').placeholder(); });</script>
    {% endaddtoblock %}
    
    {% render_block 'js' postprocessor 'mirskutils.sekizai.compress' %}
    
  </head>
  <body>
  
  <body>
</html>
