<input id="id_{{ name }}_viz" name="{{ name }}_visual" value="{{ label }}"/>
<input id="id_{{ name }}" name="{{ name }}" type="hidden" value="{{value}}" />
<script>
  $(function() {
    {% if choices|length > 0 %}
      var items = [{% for c in choices %}{value:'{{ c.0 }}', label:'{{ c.1 }}'},{% endfor %}];
    {% endif %}
    $('#id_{{ name }}_viz').autocomplete({
      {% if choices %}
        source:items,
      {% elif source_url %}
        source: function(request, response) {
          $.ajax({
            url:'{{ source_url }}',
            dataType:'json',
            data: {
              search:request.term
            },
            success: function(data) {
              response(data);          
            }
          });
        },
      {% endif %}
      select: function(event, ui) {
        if(ui.item) {
          $('#id_{{ name }}').val(ui.item.value);
          $(this).val(ui.item.label);
          return false;
        }
      },
      focus: function(event, ui) {
        if(ui.item) {
          $('#id_{{ name }}').val(ui.item.value);
          $(this).val(ui.item.label);
          return false;
        }
      }
    });
  });
</script>