{% extends "base.html" %}
{% load sekizai_tags mirskutils bootstrap  %}


{% block page_header %}
  <h1>password reset</h1>
{% endblock page_header %}

{% block page_content %}

  {% addtoblock 'css' %}
    {% css 'people/registration.css' %}
  {% endaddtoblock %}
  
  {% if not user.is_authenticated %}
    <div class="row reset-instructions">
    </div>
    <div class="row">
      <div class="col-lg-4">&nbsp;</div>
      <div class="col-lg-4">
        <p>Please check your email and follow the instructions to reset your password.</p>
        
        <p>If you do not receive the email or if you still have an issue, please contact us at <a href="mailto:info@type-coach.com">info@type-coach.com</a> for assistance.

      </div>
      <div class="col-lg-4">&nbsp;</div>
    </div>
  {% else %}
    <h3>you are already logged in as {{ user.email }}</h3>
  {% endif %}

{% endblock page_content %}